<div class="ui segment stackable">
  <h2>Kaş Dizayn</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum eius nam
    cumque corporis! Dolor, dolores non rem sapiente reprehenderit amet quae
    maxime voluptates recusandae modi nostrum debitis vel omnis nihil! At qui,
    laborum inventore numquam libero vero iure aspernatur quia dolorem suscipit
    culpa praesentium expedita? Id cupiditate, est nihil commodi tempore maxime
    et quidem quos a sapiente veritatis voluptas asperiores! Sint vitae quos
    animi harum at. Consequuntur perspiciatis necessitatibus qui consectetur
    nemo nostrum, officiis deserunt optio quasi maiores dolores possimus
    sapiente sit. Amet aliquam atque blanditiis harum provident odit nisi.
  </p>

  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMUerx5fur1LF0C31dLBXSFzsgonMHlIZggA&usqp=CAU"
    alt=""
    width="100%"
  />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
    blanditiis eum repudiandae expedita eligendi labore, repellendus accusamus
    quod sit ipsam dolor quasi excepturi facilis unde at recusandae fugiat iste
    quaerat. Dicta maxime dolore, facere corrupti soluta, iste, itaque quam
    officia magnam possimus reprehenderit ea blanditiis tempore. Sunt maxime,
    modi provident recusandae at sint perferendis! Perferendis velit aperiam
    voluptatum dolore explicabo?
  </p>
</div>
