<div class="ui tabular menu">
    <a class="item" routerLink="ciltbakim" routerLinkActive="active">
      Cilt Bakım
    </a>
    <a class="item" routerLink="manikur" routerLinkActive="active">
     Manikür/Pedikür
    </a>
    <a class="item" routerLink="makyaj" routerLinkActive="active">
     Kalıcı Makyaj
      </a>
      <a class="item" routerLink="kasdizayn" routerLinkActive="active">
      Kaş Dizayn
      </a>
      <a class="item"routerLink="ipekkirpik" routerLinkActive="active">
      İpek Kirpik
      </a>
      <a class="item"routerLink="kalicioje" routerLinkActive="active">
        Kalıcı Oje
      </a>
  </div>
  <router-outlet></router-outlet>
