<div class="ui segment stackable">
  <h1>İletişim Adresimiz</h1>
  <span
    >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ullam? Ad,
    exercitationem perspiciatis reprehenderit ab, hic quidem ea voluptates error
    et pariatur molestiae consequuntur, deserunt minus velit architecto
    quibusdam accusantium.</span
  >
  <h3>Telefon</h3>
  055565566656
  <div class="ui inverted segment">
    <div class="ui form">
      <div class="two fields">
        <div class="field error">
          <label>Adınız</label>
          <input placeholder="Zorunlu alan" type="text" />
        </div>
        <div class="field error">
          <label>Soyadınız</label>
          <input placeholder="Zorunlu alan" type="text" />
        </div>
      </div>
      <div class="field">
        <label style="color: aliceblue">E-mail</label>
        <input type="email" placeholder="lütfen emailinizi giriniz" />
      </div>
      <div class="field error">
        <label>Telefon</label>
        <input type="number" placeholder="Zorunlu alan" />
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" />
          <label style="color: aliceblue"
            >Hükümlere ve koşullara katılıyorum</label
          >
        </div>
      </div>
      <div class="ui submit button">Gönder</div>
    </div>
  </div>
</div>
