<div class="ui segment">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw3l9cYilr_fh1HjFT03X0XxFIXrDu6iIIdQ&usqp=CAU"
    alt=""
    width="100%"
  />
  <p>
    Harika bir cilt sadece bir DNA meselesi değildir ; aslında günlük
    alışkanlıklarınızın aynada gördüğünüz şey üzerinde büyük bir etkisi vardır.
    Ancak tüm ürün incelemelerini okuduğunuzda veya başvurduğunuz doktorlara
    bağlı olarak, cildinizi nasıl nemlendireceğinizden, kendinizi UV
    ışınlarından nasıl koruyacağınıza kadar her konuda baş döndürücü sayıda
    görüş vardır. Sonuç olarak, cildinizin bakımı tamamen kişiseldir. İşte tüm
    bu krmaşıklıklara son verebilmek için aklınızda bulundurmanız gerekenler:
  </p>
  <h3>Başlamadan Önce Cilt Bakımı İpuçları</h3>

  <b>Üç Ana Adım Cilt bakımı rutininizin üç ana adımdan oluştuğunu düşünün:</b>
  <ul>
    <li>Temizleme-Yüzünüzü yıkamak</li>
    <li>Tonlama - Cildi dengelemek</li>
    <li>Nemlendirici — Cildi nemlendirir ve yumuşatır</li>
  </ul>
  <p>
    Herhangi bir cilt bakımı rutininin amacı, cildinizi en iyi şekilde çalışması
    için ayarlamak ve ayrıca üzerinde çalışmak istediğiniz herhangi bir alanı
    gidermek veya gidermeyi hedeflemektir. Bu kodaki bazı uzmanlar, "Güzellik
    rutinleri, kendi içinizdeki değişiklikleri fark etmeniz için bir fırsattır"
    diyor. Cildinizin ihtiyaçları yaşla birlikte değiştikçe kullanmanız gereken
    ürünler de değişecektir. Bu üç adımın cildinizi güçlendiren ve gününüzü
    topraklayan günlük ritüeliniz olmasına izin verin .
  </p>
  <h4>Zaman Ver</h4>
  <p>
    Cilt bakım ürünlerini araştıran bilim, uzun bir yol kat etti, ancak henüz
    anında düzeltme diye bir şey yok maalesef.Bu ürünlerin faydalarından
    yararlanmak için zamana ihtiyacınız var ve istenilen sonuçlar yalnızca
    düzenli kullanımlarla elde edilbilir . Genel olarak, bir farkı fark etmek
    için bir ürünü günde bir veya iki kez olmak üzere en az altı hafta boyunca
    kullanmayı hedefleyin. İpucu: Herhangi bir cilt bakım ürünüyle, en inceden
    en kalına doğru kıvam sırasına göre uygulayın . Örneğin, temizleyici, toner
    (kullanıyorsanız), serum ve ardından nemlendirici kullanmalısınız.
  </p>
  <h2>Salonumuzda Klasik Cilt Bakım Uygulama Adımlarımız:</h2>

  <ul>
    <li>Bakım (Teşhis),</li>
    <li>Temizleme,</li>
    <li>Bakım (Uygulama)</li>
    <li>Kürler halinde lifting, kolojen, maskeler ve ampuller ile bakım</li>
    <li>Gözaltı bakımı,</li>
    <li>Boyun bölgesi bakımı,</li>
    <li>Cilt durumuna göre özel kürler ve nemlendiriciler uygulanır</li>
    <li>Bakım sonrası uygun ürün önerileri,</li>
  </ul>
</div>
